<html ng-app="ShoppingCheckOffApp">
    <head>
        <title>Module 2 Assignment</title>
        <script src="angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body>
        <h1>Shopping List Check Off</h1>

        <div ng-controller="ShoppingCheckOffController1 as toBuyList">
            <h3>To Buy List</h3>
            New Item:
            <input type="text" ng-model="toBuyList.itemName" placeholder="Item Name">
            <input type="text" ng-model="toBuyList.itemQuantity" placeholder="Item Quantity">
            <button ng-click="toBuyList.addItem()">Add</button>
            <ol>
                <span ng-if="toBuyList.items.length == 0">Everything is bought!</span>
                <li ng-repeat="item in toBuyList.items">
                    Buy {{item.quantity}} of {{item.name}}
                    <button ng-click="toBuyList.removeItem($index)">Bought</button>
                    <button ng-click="toBuyList.deleteItem($index)">Delete</button>
                </li>
            </ol>
        </div>

        <div ng-controller="ShoppingCheckOffController2 as boughtList">
            <h3>Already Bought List</h3>
            <ol>
                <span ng-if="boughtList.items.length == 0">Nothing bought yet!</span>
                <li ng-repeat="item in boughtList.items">
                    
                    Bought {{item.quantity}} {{item.name}}
                    <button ng-click="boughtList.giveBack($index)">Give back!</button>
                </li>
            </ol>
        </div>
    </body>
</html>